{% extends "base.html" %}
{% block title %}
    Dashboard &mdash;
    DJ Pagan &mdash;
    Student Accounts &mdash;
    Business Services &mdash;
    Carthage College
{% endblock %}
{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table fa-fw"></i>
    Reports
  </div>
  <div class="card-body">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
          <form action="{% url 'search_type' 'journal' %}" method="post">
          {% csrf_token %}
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-header clearfix small z-1">
                <span class="float-left">
                  <a href="{% url 'search_type' 'journal' %}" class="text-white">Journal type &amp; number</a>
                </span>
              </div>
              <div class="card-body text-white">
                    <span class="pull-left" style="width:75%;">
                    {{form_journal.journal_type}}
                    {{form_journal.journal_number}}
                    </span>
              </div>
              <div class="card-footer clearfix small z-1">
                <div class="pull-left" style="width:75%;">
                  {{form_journal.include_voids}}
                  {{form_journal.include_voids.label_tag}}
                </div>
                <span class="float-right">
                  <input type="submit" value="Submit" class="btn btn-default btn-xs">
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
          <form action="{% url 'search_type' 'bridged' %}" method="post">
          {% csrf_token %}
            <div class="card text-white bg-secondary o-hidden h-100">
              <div class="card-header clearfix small z-1">
                <span class="float-left">
                  <a href="{% url 'search_type' 'bridged' %}" class="text-white">Search bridged classes</a>
                </span>
              </div>
              <div class="card-body text-white">
                <span class="pull-left" style="width:75%;">
                {{form_bridged.course_no}}
                </span>
              </div>
              <div class="card-footer clearfix small z-1">
                <span class="float-right">
                  <input type="submit" value="Submit" class="btn btn-default btn-xs">
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
          <form action="{% url 'search_type' 'transaction' %}" method="post">
          {% csrf_token %}
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-header clearfix small z-1">
                <span class="float-left">
                  <a href="{% url 'search_type' 'transaction' %}" class="text-white">All student transactions</a>
                </span>
              </div>
              <div class="card-body text-white">
                <span class="pull-left" style="width:75%;">
                {{form_transaction.student_number}}
                </span>
              </div>
              <div class="card-footer clearfix small z-1">
                <div class="pull-left" style="width:75%;">
                  {{form_transaction.include_voids}}
                  {{form_transaction.include_voids.label_tag}}
                </div>
                <span class="float-right">
                  <input type="submit" value="Submit" class="btn btn-default btn-xs">
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
          <form action="{% url 'search_type' 'cheque' %}" method="post">
          {% csrf_token %}
            <div class="card text-white bg-info o-hidden h-100">
              <div class="card-header clearfix small z-1">
                <span class="float-left">
                  <a href="{% url 'search_type' 'cheque' %}" class="text-white">Search by check no</a>
                </span>
              </div>
              <div class="card-body text-white">
                <span class="pull-left" style="width:75%;">
                {{form_cheque.cheque_number}}
                </span>
              </div>
              <div class="card-footer clearfix small z-1">
                <div class="pull-left" style="width:75%;">
                  {{form_cheque.include_voids}}
                  {{form_cheque.include_voids.label_tag}}
                </div>
                <span class="float-right">
                  <input type="submit" value="Submit" class="btn btn-default btn-xs">
                </span>
              </div>
            </div>
          </form>
        </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer small text-muted"></div>
</div>
<!-- /.card -->
{% endblock content %}
