cryptography
django==4.2.14
django-appconf
django-bootstrap5
django-gmailapi-json-backend
django-imagekit
django-localflavor
django-ranged-response
django-taggit
mysqlclient
Pillow
pyodbc
python-ldap
requests
