{% extends "core/search_base.html" %}
{% block title %}
    Student Balance Late Fees &mdash;
    Fees &mdash;
    DJ Pagan &mdash;
    Student Accounts &mdash;
    Business Services &mdash;
    Carthage College
{% endblock %}
{% block breadcrumb %}
<div class="row">
    <div class="col-lg-12">
       <h1>
        Student Balance Late Fees
        <small class="fright" style="margin-right:20px;">
        <a href="{% url 'home' %}"><i class="fa fa-home fa-2x green"></i></a>
        </small>
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
{% include "includes/form.inc.html" %}
{% endblock %}
