{% extends "djbootmin/base.html" %}
{% block extra_style %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet">
<style type="text/css">
.bg-boot{background-color:#563d7c;}
#page-wrapper{margin:0;padding:0;}
.content-wrapper { margin-top:60px; }
.form fieldset {margin-top:0;}
.panel-primary > .panel-heading {color: inherit;}
.btn {padding: .1rem .2rem;font-size:inherit;}
.card-body {padding: .5rem;}
.card-body select {width: 100%;}
.card-header {font-size:1.2em; padding: .25rem .5rem;}
.card-footer {padding: .25rem .5rem;}
.card {min-height: 160px;}
nav a {color: #cbbde2;}
nav a:hover {color:#fff;}
nav .input-group-btn {font-size:1.3em;}
.navbar-toggler-icon {color:yellow;}
.dropdown-menu {padding: 5px; background-color:#563d7c;}
.dropdown, .dropup {padding: 3px;}
dt, dd {line-height:.75em;}
dt {overflow: hidden; white-space: nowrap;}
dd {overflow: hidden;white-space: nowrap;}
dt:after {
  content: " ..................................................................................";
  color: #cacaca;
}
</style>
{% endblock %}
{% block extra_javascript %}
<script>
$(function() {
  $('#olvidado').click(function(e) {
    e.preventDefault();
    $('div#form-olvidado').toggle('500');
  });
  $('#acceso').click(function(e) {
    e.preventDefault();
    $('div#form-olvidado').toggle('500');
  });
  $("body").toggleClass("sidenav-toggled");
});
</script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block navbar-header %}
  <a href="{% url 'home' %}" class="mr-sm-3 mr-lg-3"><i class="fa fa-home fa-2x green"></i></a>
  <a class="navbar-brand" href="{% url 'home' %}">Student Accounts</a>
{% endblock %}
{% block navbar-top-links %}
  <ul class="navbar-nav ml-auto">
    {% if not user.is_anonymous %}
    <li class="nav-item">
      <form class="form-inline my-2 my-lg-0 mr-sm-3 mr-lg-3" action="{% url 'search_students' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
          <input class="form-control" name="student" placeholder="Last name or ID..." type="text">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </li>
    {% endif %}
    <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> {{user.first_name|default:"Dashboard"}}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="divider"></li>
            <li>
                {% if user.is_anonymous %}
                <a href="{% url 'auth_login' %}">
                    <i class="fa fa-sign-in"></i> Sign In
                </a>
                {% else %}
                <a href="{% url 'auth_logout' %}">
                    <i class="fa fa-sign-out"></i> Sign Out
                </a>
                {% endif %}
            </li>
        </ul>
    </li>
  </ul>
{% endblock navbar-top-links %}
{% block navbar-sidenav %}
<ul class="navbar-nav navbar-sidenav">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reports">
    <a class="nav-link" href="{% url 'home' %}">
      <i class="fa fa-fw fa-table"></i>
      <span class="nav-link-text">Reports</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Search">
    <a class="nav-link" href="{% url 'search_students' %}">
      <i class="fa fa-fw fa-search"></i>
      <span class="nav-link-text">Search</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tooltip" data-placement="right" title="Expand Menu" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-double-left"></i>
    </a>
  </li>
</ul>
<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center">
      <i class="fa fa-fw"></i>
    </a>
  </li>
</ul>
{% endblock navbar-sidenav %}
{% block content %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block footer %}{% endblock %}
{% block logout %}{% endblock %}
