{% extends "djbootmin/base.html" %}
{% block extra_style %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet">
<link href="https://www.carthage.edu/themes/shared/css/forms.css"
    rel="stylesheet" type="text/css">
<link href="https://www.carthage.edu/themes/shared/css/tables.css"
    rel="stylesheet" type="text/css">
<!-- print CSS -->
<link href="https://www.carthage.edu/themes/shared/css/print.css"
    rel="stylesheet">
<style type="text/css">
#page-wrapper{margin:0;padding:0;}
.form fieldset {margin-top:0;}
.panel-primary > .panel-heading {
    color: inherit;
}
.btn {padding: .1rem .2rem;font-size:inherit;}
.card-body { padding: .5rem; }
.card-body select { width: 99%; }
.card-footer { padding: .25rem .5rem;}
.card {min-height: 140px;}
</style>
{% endblock %}
{% block extra_javascript %}
<script>
$(function() {
  $('#olvidado').click(function(e) {
    e.preventDefault();
    $('div#form-olvidado').toggle('500');
  });
  $('#acceso').click(function(e) {
    e.preventDefault();
    $('div#form-olvidado').toggle('500');
  });
});
</script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block navigation %}{% endblock %}
{% block navbar-header %}{% endblock %}
{% block content-wrapper %}{% endblock %}
{% block breadcrumb %}
<div class="row">
    <div class="col-lg-12">
       <h1>
        Dashboard
        <small class="fright" style="margin-right:20px;">
        <a href="{% url 'home' %}"><i class="fa fa-home fa-2x green"></i></a>
        </small>
        </h1>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block logout %}{% endblock %}
