{% extends "djbootmin/base.html" %}
{% load ifusergroup %}
{% block extra_style %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://app.carthage.edu/static/djbeca/css/main.css" rel="stylesheet" type="text/css">
<link href="https://app.carthage.edu/static/djbeca/css/print.css" rel="stylesheet" type="text/css">
<style type="text/css">
.bg-boot{background-color:#563d7c;}
#page-wrapper{margin:0;padding:0;}
.content-wrapper { margin-top:60px; }
.form fieldset {margin-top:0;}
.panel-primary > .panel-heading {color: inherit;}
.btn {padding: .1rem .2rem;font-size:inherit;}
.card-body {padding: .5rem;}
.card-body select {width: 100%;}
.card-header {font-size:1.2em; padding: .25rem .5rem;}
.card-footer {padding: .25rem .5rem;}
.card {min-height: 160px;}
.dropdown-menu {padding: 5px; background-color:#563d7c;}
.dropdown, .dropup {padding: 3px;}
dt, dd {line-height:.75em;}
dt {overflow: hidden; white-space: nowrap;}
dd {overflow: hidden;white-space: nowrap;}
dt:after {
  content: " ..................................................................................";
  color: #cacaca;
}
</style>
{% endblock %}
{% block extra_javascript %}
<script>
$(function() {
  $('#olvidado').click(function(e) {
    e.preventDefault();
    $('div#form-olvidado').toggle('500');
  });
  $('#acceso').click(function(e) {
    e.preventDefault();
    $('div#form-olvidado').toggle('500');
  });
  $("body").toggleClass("sidenav-toggled");
  $('#id_cid').focus();
});
</script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block navbar-header %}
  <a href="{% url 'home' %}" class="mr-sm-3 mr-lg-3"><i class="fa fa-home fa-2x green"></i></a>
  <a class="navbar-brand" href="{% url 'home' %}">Student Accounts</a>
{% endblock %}
{% block navbar-top-links %}
  <ul class="navbar-nav ml-auto">
    <li class="dropdown user-dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i> {{user.first_name|default:"Dashboard"}}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="divider"></li>
        <li>
            {% if user.is_anonymous %}
            <a href="{% url 'auth_login' %}">
                <i class="fa fa-sign-in"></i> Sign In
            </a>
            {% else %}
            <a href="{% url 'auth_logout' %}">
                <i class="fa fa-sign-out"></i> Sign Out
            </a>
            {% endif %}
        </li>
        {% ifusergroup 'Dining' %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endifusergroup %}
      </ul>
    </li>
  </ul>
{% endblock navbar-top-links %}
{% block navbar-sidenav %}
<ul class="navbar-nav navbar-sidenav">
  {% ifusergroup 'Human Resources' 'StudentAccounts' %}
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reports">
    <a class="nav-link" href="{% url 'home' %}">
      <i class="fa fa-fw fa-table"></i>
      <span class="nav-link-text">Reports</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administration">
    <a class="nav-link" href="{% url 'admin:index' %}">
      <i class="fa fa-fw fa fa-cog" aria-hidden="true"></i>
      <span class="nav-link-text">Administration</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tooltip" data-placement="right" title="Expand Menu" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-double-left"></i>
    </a>
  </li>
  {% endifusergroup %}
</ul>
<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center">
      <i class="fa fa-fw"></i>
    </a>
  </li>
</ul>
{% endblock navbar-sidenav %}
{% block content %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block footer %}{% endblock %}
{% block logout %}{% endblock %}
