{% extends "core/home.html" %}
{% block title %}
    Student Detail &mdash;
    DJ Pagan &mdash;
    Student Accounts &mdash;
    Business Services &mdash;
    Carthage College
{% endblock %}
{% block content %}
<div class="card mb-3">
  <div class="card-header alert-info">
    <h3>
    <i class="fa fa-leaf fa-fw"></i>
    {{enrollment.lastname}}, {{enrollment.firstname}} ({{enrollment.id}})
    </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mb-3">
        <div class="card">
          <div class="card-header clearfix small z-1 alert-warning">
            <span class="float-left">
              Program Details
            </span>
          </div>
          <div class="card-body">
            {{enrollment}}
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mb-3">
        <div class="card">
          <div class="card-header clearfix small z-1 alert-warning">
            <span class="float-left">
              Ballances
            </span>
          </div>
          <div class="card-body">
            {{ballance}}
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mb-3">
        <div class="card">
          <div class="card-header clearfix small z-1 alert-warning">
            <span class="float-left">
              Notes
            </span>
          </div>
          <div class="card-body">
            {{notes}}
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card">
          <div class="card-header clearfix small z-1 alert-success">
            <span class="float-left">
              Enrolled Sessions
            </span>
          </div>
          <div class="card-body">
            {{details}}
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card">
          <div class="card-header clearfix small z-1 alert-primary">
            <span class="float-left">
              Planning Letter History
            </span>
          </div>
          <div class="card-body">
            {{planning}}
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer small text-muted"></div>
</div>
<!-- /.card -->
{% endblock content %}
