{% extends "core/home.html" %}
{% block title %}
    Student Detail &mdash;
    DJ Pagan &mdash;
    Student Accounts &mdash;
    Business Services &mdash;
    Carthage College
{% endblock %}
{% block content %}
<div class="card mb-3">
  <div class="card-header alert-info">
    <h3>
    <i class="fa fa-leaf" style="color:#28a745;"></i>
    {{enrollment.lastname}}, {{enrollment.firstname}}
    ({{enrollment.id}})
    {{enrollment.prog}}
    {{enrollment.subprog}}
    {{enrollment.cl}}
    </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
        <div class="card h-100">
          <div class="card-header clearfix small z-1 alert-warning">
            <span class="float-left">
              Program Details
            </span>
            <span class="float-right">
              <i class="fa fa-info-circle"></i>
            </span>
          </div>
          <div class="card-body bg-light">
            <dl class="row">
              <dt class="col-sm-7 col-7">Major 1</dt>
              <dd class="col-sm-4 col-4">{{enrollment.major1|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Major 2</dt>
              <dd class="col-sm-4 col-4">{{enrollment.major2|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Major 3</dt>
              <dd class="col-sm-4 col-4">{{enrollment.major3|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Nursing</dt>
              <dd class="col-sm-4 col-4">{{enrollment.nurs_prog|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Cohort Year</dt>
              <dd class="col-sm-4 col-4">{{enrollment.cohort_yr|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Cohort Cat</dt>
              <dd class="col-sm-4 col-4">{{enrollment.cohort_ctgry|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Standing</dt>
              <dd class="col-sm-4 col-4">{{enrollment.acst|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Grad Year</dt>
              <dd class="col-sm-4 col-4">{{enrollment.plan_grad_yr|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Grad Sess</dt>
              <dd class="col-sm-4 col-4">{{enrollment.plan_grad_sess|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Degree</dt>
              <dd class="col-sm-4 col-4">{{enrollment.deg|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">TLE</dt>
              <dd class="col-sm-4 col-4">{{enrollment.tle|default:"&nbsp;"}}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
        <div class="card h-100">
          <div class="card-header clearfix small z-1 alert-warning">
            <span class="float-left">
              Balances
            </span>
            <span class="float-right">
              <i class="fa fa-balance-scale"></i>
            </span>
          </div>
          <div class="card-body bg-light">
            <dl class="row">
              <dt class="col-sm-7 col-7">Subs</dt>
              <dd class="col-sm-4 col-4">{{balances.subs|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Bal act</dt>
              <dd class="col-sm-4 col-4">{{balances.bal_act|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">DP Terms</dt>
              <dd class="col-sm-4 col-4">{{balances.def_pmt_terms|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Stat</dt>
              <dd class="col-sm-4 col-4">{{balances.stat|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Ent No</dt>
              <dd class="col-sm-4 col-4">{{balances.ent_no|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">CR Rating</dt>
              <dd class="col-sm-4 col-4">{{balances.cr_rating|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7" title="{{balances.descr}}">Descr</dt>
              <dd class="col-sm-4 col-4" title="{{balances.descr}}">{{balances.descr|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Dun Letter</dt>
              <dd class="col-sm-4 col-4">{{balances.dunning_letter|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Interest Wvd</dt>
              <dd class="col-sm-4 col-4">{{balances.interest_wvd|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Written Off</dt>
              <dd class="col-sm-4 col-4">{{balances.written_off|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Collect Agc</dt>
              <dd class="col-sm-4 col-4">{{balances.collect_agc|default:"&nbsp;"}}</dd>
              <dt class="col-sm-7 col-7">Payment Grp</dt>
              <dd class="col-sm-4 col-4">{{balances.ccresrc|default:"&nbsp;"}}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
        <div class="card h-100">
          <div class="card-header clearfix small z-1 alert-warning">
            <span class="float-left">
              Notes
            </span>
            <span class="float-right">
              <i class="fa fa-clipboard"></i>
            </span>
          </div>
          <div class="card-body bg-light">
            <p>{{notes.subs}}</p>
            <p>{{notes.comm}}</p>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card">
          <div class="card-header clearfix small z-1 alert-success">
            <span class="float-left">
              Enrolled Sessions
            </span>
            <span class="float-right">
              <i class="fa fa-wpforms"></i>
            </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="card h-100">
                  <div class="card-body bg-light">
                    <dl class="row">
                      <dt class="col-sm-7 col-7">Session</dt>
                      <dd class="col-sm-4 col-4">{{details.sess|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Year</dt>
                      <dd class="col-sm-4 col-4">{{details.year|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Program</dt>
                      <dd class="col-sm-4 col-4">{{details.prog|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Sub Program</dt>
                      <dd class="col-sm-4 col-4">{{details.subprog|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Class</dt>
                      <dd class="col-sm-4 col-4">{{details.cl|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Reg Status</dt>
                      <dd class="col-sm-4 col-4">{{details.reg_stat|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Reg Hours</dt>
                      <dd class="col-sm-4 col-4">{{details.reg_hrs|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Acct Status</dt>
                      <dd class="col-sm-4 col-4">{{details.acst|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Fin Clear</dt>
                      <dd class="col-sm-4 col-4">{{details.fin_clr|default:"&nbsp;"}}</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="card h-100">
                  <div class="card-body bg-light">
                    <dl class="row">
                      <dt class="col-sm-7 col-7">Rsv Stat</dt>
                      <dd class="col-sm-4 col-4">{{details.rsv_stat|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Offcampus</dt>
                      <dd class="col-sm-4 col-4">{{details.offcampus_res_appr|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Inted Hsg</dt>
                      <dd class="col-sm-4 col-4">{{details.intend_hsg|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Building</dt>
                      <dd class="col-sm-4 col-4">{{details.bldg|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Room</dt>
                      <dd class="col-sm-4 col-4">{{details.room|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Suite</dt>
                      <dd class="col-sm-4 col-4">{{details.suite|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Bill Code</dt>
                      <dd class="col-sm-4 col-4">{{details.bill_code|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Spec Flag</dt>
                      <dd class="col-sm-4 col-4">{{details.spec_flag|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Health Ins Wvd</dt>
                      <dd class="col-sm-4 col-4">{{details.hlth_ins_wvd|default:"&nbsp;"}}</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="card h-100"> 
                  <div class="card-body bg-light">
                    <dl class="row">
                      <dt class="col-sm-7 col-7">Meal Plan Type</dt>
                      <dd class="col-sm-4 col-4">{{details.meal_plan_type|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Meal Plan Wave</dt>
                      <dd class="col-sm-4 col-4">{{details.meal_plan_wvd|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Res Asst</dt>
                      <dd class="col-sm-4 col-4">{{details.res_asst|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Status</dt>
                      <dd class="col-sm-4 col-4">{{details.stat|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Park Prmt No</dt>
                      <dd class="col-sm-4 col-4">{{details.park_prmt_no|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Park Prmt Xdate</dt>
                      <dd class="col-sm-4 col-4">{{details.park_prmt_exp_date|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Park Loc</dt>
                      <dd class="col-sm-4 col-4">{{details.park_location|default:"&nbsp;"}}</dd>
                      <dt class="col-sm-7 col-7">Lot No</dt>
                      <dd class="col-sm-4 col-4">{{details.lot_no|default:"&nbsp;"}}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card h-100">
          <div class="card-header clearfix small z-1 alert-primary">
            <span class="float-left">
              Planning Letter History
            </span>
            <span class="float-right">
              <i class="fa fa-map-o"></i>
            </span>
          </div>
          <div class="card-body">
            {{planning}}
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer small text-muted"></div>
</div>
<!-- /.card -->
{% endblock content %}
