{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Check Reimbursement{% endblock %}
{% block extra_javascript %}
{{block.super}}
{% endblock %}
{% block extra_style %}
{{block.super}}
<style>
</style>
{% endblock %}
{% block content_head %}
  <h1 id="page_title">
    Check Reimbursement Form
  </h1>
{% endblock %}
{% block content %}
{{block.super}}
<div class="container mb-4" id="alert-container">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card">
    <form enctype="multipart/form-data" method="post" action="{% url 'reimbursement_form' %}"
      class="form mb-3" id="reimbursement-form">
      {% csrf_token %}
      <div class="form-row mt-4">
        {% bootstrap_form form %}
      </div>
      <div class="form-row mt-4">
        <div class="col-12 pb-2 text-center">
          <button class="btn btn-primary btn-lg" type="submit" value="submit" name="submit">
            Submit
          </button>
        </div>
      </div>
      <!-- end form row -->
    </form>
    <!-- end form -->
  </div>
  <!-- end card -->
</div>
<!-- end container -->
{% endblock %}
