<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <title>Reimbursement Request &mdash; Carthage College</title>
        <!-- Bootstrap core CSS-->
        <link href="https://www.carthage.edu/static/vendor/bootstrap-admin4/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="https://www.carthage.edu/static/vendor/bootstrap-admin4/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="https://www.carthage.edu/static/vendor/bootstrap-admin4/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="https://www.carthage.edu/static/vendor/bootstrap-admin4/css/sb-admin.min.css" rel="stylesheet">

        <link href="//www.carthage.edu/static/vendor/jquery/plugins/trumbowyg/trumbowyg.min.css" rel="stylesheet" type="text/css">
        <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
        <link href="/static/djsapo/css/autocomplete.css" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://www.carthage.edu/themes/shared/css/tables.css" rel="stylesheet" type="text/css">
        <link href="https://www.carthage.edu/static/djsani/css/dashboard.css" rel="stylesheet" type="text/css">
        <link href="https://www.carthage.edu/static/djsani/css/main.css" rel="stylesheet" type="text/css">
        <link href="/static/djsapo/css/main.css" rel="stylesheet" type="text/css">
        <link href="/static/djsapo/css/print.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            /* .check, .travel {display:none;} */
            .hidden {display:none;}
            fieldset.travelDay legend, fieldset.subsection legend {cursor:pointer;width:auto;padding:0px 10px;}
            .receiptList {padding-left:10px;}
            .receiptList li {margin:5px 0px;}
        </style>
    </head>
    <body  id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <a href="/apps/student-success/sos/dashboard/" class="mr-sm-3 mr-lg-3"><i class="fa fa-home fa-2x"></i></a>
            <a class="navbar-brand" href="/apps/student-success/sos/">Check/Reimbursement Request</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            
        </nav>
    
        <div id="wrapper" class="content-wrapper">
            <div class="container-fluid">
                <div class="row"></div>
                <!-- /.row -->
                <div class="container mb-4" id="alert-container">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card">
                        <div class="card-title"><h3>Check/Reimbursement Request Form</h3></div>
                        <div class="text-black">
                            <div id="lw_instructions">
                                <h4>Instructions:</h4>
                                <p>If you have a concern about a student at Carthage, please share details about the situation as soon as possible.
                                Use the form below to submit your concern to the Student Outreach System, completing each field to the extent of your
                                knowledge.</p>
                            </div>
                            <p>Fields marked with an asterisk <img src="//www.carthage.edu/static/forms/img/icons/red_asterisk.png" alt="asterisk" /> are required.</p>
                        </div>
                        <div class="card-body">
                            
                                <form method="post" action="/jics/under_development/business_office/reimbursement.cfm" class="form" style="margin-bottom:20px;">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="TIFtWsACnKPJBq53VG3aGunAS2MxtTgSQ0mgPGju7SYtafNal8m13IUUe4xs3ZOb" />
                                    <div class="form-row mt-4">
                                        <div class="form-group">
                                            <label>I am requesting:</label>
                                            <select name="formType">
                                                <option value="">(Select One)</option>
                                                <option value="check">a check or reimbursement for a purchase</option>
                                                <option value="travel">reimbursement for travel</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row mt-4">
                                        <div class="col-md-3 pb-3">
                                            <label><h5 class="required">Carthage ID:</h5></label>
                                            <input type="text" name="carthageID" class="form-control" />
                                        </div>
                                        <div class="col-md-3 pb-3">
                                            <label><h5 class="required">Date:</h5></label>
                                            <input type="text" name="date" class="form-control datepicker" />
                                        </div>
                                        <div class="col-md-6 pb-3">
                                            <label><h5 class="required">Requestor Name:</h5></label>
                                            <input type="text" name="requestorName" class="form-control" />
                                        </div>
                                    </div>
    
                                    
                                    <div class="form-row mt-4 check hidden">
                                        <div class="col-md-6 pb-3">
                                            <label><h5 class="required">Make Check Payable To:</h5></label>
                                            <input type="text" name="checkName" class="form-control" />
                                        </div>
                                        <div class="col-md-6 pb-3">
                                            <label><h5 class="required">Account Number to be charged:</h5></label>
                                            <input type="text" name="accountNumber" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-row mt-4 check hidden">
                                        <div class="col-md-6">
                                            <label><h5 class="required">Mailing Address:</h5></label>
                                            <input type="text" name="mailingAddress" class="form-control" placeholder="Street" />
                                        </div>
                                        <div class="col-md-3">
                                            <label><h5>&nbsp;</h5></label>
                                            <input type="text" name="mailingCity" class="form-control" placeholder="City" />
                                        </div>
                                        <div class="col-md-3">
                                            <label><h5>&nbsp;</h5></label>
                                            <input type="text" name="mailingState" class="form-control" placeholder="State" />
                                        </div>
                                    </div>
                                    <div class="form-row mt-4 check hidden">
                                        <div class="col-md-12">
                                            <label><h5 class="required">Description of Purchase(s):</h5></label>
                                            <textarea name="purchaseDescription" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row mt-4 check hidden">
                                        <div class="col-md-6 pb-3">
                                            <label><h5 class="required">Number of Receipts Attached:</h5></label>
                                            <select name="numberOfReceipts" class="form-control">
                                                
                                                    <option value="0">0</option>
                                                
                                                    <option value="1">1</option>
                                                
                                                    <option value="2">2</option>
                                                
                                                    <option value="3">3</option>
                                                
                                                    <option value="4">4</option>
                                                
                                                    <option value="5">5</option>
                                                
                                                    <option value="6">6</option>
                                                
                                                    <option value="7">7</option>
                                                
                                                    <option value="8">8</option>
                                                
                                                    <option value="9">9</option>
                                                
                                                    <option value="10">10</option>
                                                
                                                    <option value="11">11</option>
                                                
                                                    <option value="12">12</option>
                                                
                                                    <option value="13">13</option>
                                                
                                                    <option value="14">14</option>
                                                
                                                    <option value="15">15</option>
                                                
                                                    <option value="16">16</option>
                                                
                                                    <option value="17">17</option>
                                                
                                                    <option value="18">18</option>
                                                
                                                    <option value="19">19</option>
                                                
                                                    <option value="20">20</option>
                                                
                                            </select>
                                            <small>Receipts are required for all reimbursements.</small>
                                            <ol class="receiptList"></ol>
                                            <div class="form-row">
                                                <label>Total:</label><span class="receiptTotal">$0.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row mt-4 check hidden">
                                        <div class="col-md-6 pb-3">
                                            <label><h5 class="required">Packing Slip Enclosed:</h5></label>
                                            <input type="radio" name="packingSlip" value="Y" /> Yes
                                            <input type="radio" name="packingSlip" value="N" checked="checked" /> No
                                            <small>A packing slip is required for any shipped item(s).</small>
                                        </div>
                                    </div>
                                    <div class="form-row mt-4 check hidden">
                                        <div class="col-md-6">
                                            <label>Special Instructions</label>
                                            <ul>
                                                <li><input type="checkbox" name="usMail" value="Y" /> U.S. Mail</li>
                                                <li><input type="checkbox" name="includeForms" value="Y" /> Include Forms</li>
                                                <li><input type="checkbox" name="pickUp" value="Y" /> Pick up in Business Office</li>
                                                <li>By Whom:</li>
                                                <li>
                                                    <input type="checkbox" name="hasExtension" value="Y" /> Extension #
                                                    <input type="text" name="extension" class="form-control col-md-3" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    

                                    
                                    <div class="form-row travel hidden">
                                        <div class="col-md-6">
                                            <label><h5 class="required">Start Date</h5></label>
                                            <input type="text" name="travelStart" class="form-control datepicker" />
                                        </div>
                                        <div class="col-md-6">
                                            <label><h5 class="required">End Date</h5></label>
                                            <input type="text" name="travelEnd" class="form-control datepicker" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-row travel hidden">
                                        <fieldset class="travelDay">
                                            <legend>Monday, September 2nd <span class="travelDayTotal"></span></legend>
                                            <fieldset class="travelExpense subsection">
                                                <legend>Travel <span class="subsectionTotal"></span></legend>
                                                <div class="form-row">
                                                    <div class="col-md-3">
                                                        <label>Private Mileage:</label>
                                                        <input type="text" name="travelMileage" class="form-control" data-altvalue="travelMileageCalculation" data-factor="0.58" />
                                                        <small>Whole numbers, no fractions. Mileage rate $0.58.</small>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Mileage Calculation:</label>
                                                        <span class="travelMileageCalculation"></span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Tolls:</label>
                                                        <input type="text" name="travelTolls" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <label>Rental Car:</label>
                                                        <input type="text" name="travelRental" class="form-control" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Parking:</label>
                                                        <input type="text" name="travelParking" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <label>Taxi:</label>
                                                        <input type="text" name="travelTaxi" class="form-control" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Other Misc Ground Travel:</label>
                                                        <input type="text" name="travelOther" class="form-control" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="travelMeals subsection">
                                                <legend>Meals <span class="subsectionTotal"></span></legend>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <label>Breakfast:</label>
                                                        <input type="text" name="mealsBreakfast" class="form-control" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Dinner:</label>
                                                        <input type="text" name="mealsDinner" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <label>Lunch:</label>
                                                        <input type="text" name="mealsLunch" class="form-control" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Tips:</label>
                                                        <input type="text" name="mealsTips" class="form-control" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="travelOther subsection">
                                                <legend>Travel <span class="subsectionTotal"></span></legend>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <label>Conference Fee:</label>
                                                        <input type="text" name="otherConference" class="form-control" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Lodging:</label>
                                                        <input type="text" name="otherLodging" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <label>Airfare:</label>
                                                        <input type="text" name="otherAirfare" class="form-control" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Other Misc:</label>
                                                        <input type="text" name="otherMisc" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <label>Baggage Fee:</label>
                                                        <input type="text" name="otherBaggage" class="form-control" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Food &amp; Catering:</label>
                                                        <input type="text" name="otherCatering" class="form-control" />
                                                        <small>Internal &amp; External in Kenosha/Racine</small>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </fieldset>
                                    </div>
                                    

    
                                    
                                    <!-- end form row -->
                                </form>
                                <!-- end form -->
                            
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end container -->
            </div>
            <!-- /.container-fluid-->
        </div>
        <!-- /.content-wrapper-->

        <!-- Bootstrap core JavaScript-->
        <script src="https://www.carthage.edu/static/vendor/bootstrap-admin4/vendor/jquery/jquery.min.js"></script>
        <script src="https://www.carthage.edu/static/vendor/bootstrap-admin4/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="https://www.carthage.edu/static/vendor/bootstrap-admin4/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="https://www.carthage.edu/static/vendor/bootstrap-admin4/vendor/datatables/jquery.dataTables.js"></script>
        <script src="https://www.carthage.edu/static/vendor/bootstrap-admin4/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="https://www.carthage.edu/static/vendor/bootstrap-admin4/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="https://www.carthage.edu/static/vendor/bootstrap-admin4/js/sb-admin-datatables.min.js"></script>

        <script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript" language="javascript"></script>
        <script src="//www.carthage.edu/static/vendor/jquery/plugins/trumbowyg/trumbowyg.min.js" type="text/javascript" language="javascript"></script>
        <script src="//www.carthage.edu/static/vendor/jquery/plugins/multiselect/js/multiselect.min.js" type="text/javascript" language="javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js" type="text/javascript" language="javascript"></script>
        <script src="//www.carthage.edu/static/vendor/autoComplete.js/dist/js/autoComplete.min.js" type="text/javascript" language="javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js" type="text/javascript" language="javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js" type="text/javascript" language="javascript"></script>
        <script src="https://malsup.github.io/min/jquery.blockUI.min.js" type="text/javascript" language="javascript"></script>
        <script src="//www.carthage.edu/static/vendor/js/spin.min.js" type="text/javascript" language="javascript"></script>
        
        <script type="text/javascript" charset="utf-8">
            function currency(amount){
                return '$' + cleanNumber(amount, 2);
            }
            function cleanNumber(str, precision){
                if(isNaN(precision) || precision == '') { precision = 2; }

                //If the str argument is not a number clean it up with RegEx, if it is a number pass it along.
                var clean = isNaN(str) ? str.replace(/[^\d\.]/ig, '') : str;
                if(clean.length == 0){ clean = 0; }
                return parseFloat(clean).toFixed(precision);
            }
            function calculateReceipts(){
                var receiptTotal = 0;
                $('input.receiptAmount').each(function(index, item){
                    receiptTotal += parseFloat(cleanNumber($(this).val()));
                    $(this).val(currency($(this).val()));
                });
                $('.receiptTotal').text(currency(receiptTotal));
            }
            function calculateDay(fieldsetObj){
                var dayTotal = 0;
                $(fieldsetObj).find('fieldset').each(function(){
                    dayTotal += calculateSubsection($(this));
                });
                $(fieldsetObj).find('span.travelDayTotal').text('(' + currency(dayTotal) + ')');
            }
            function calculateSubsection(fieldsetObj){
                var subsectionTotal = 0;
                $(fieldsetObj).find('input').each(function(){
                    var cleanValue = cleanNumber($(this).val());

                    //Determine whether there are special rules to follow for this field. Currently the only example is mileage reimbursement
                    if($(this).data('factor') != undefined){
                        cleanValue = cleanValue * $(this).data('factor');
                        $('.' + $(this).data('altvalue')).text(currency(cleanValue));
                    }
                    else{
                        $(this).val(currency(cleanValue));
                    }
                    subsectionTotal += parseFloat(cleanValue);
                });
                $(fieldsetObj).find('span.subsectionTotal').text('(' + currency(subsectionTotal) + ')');
                return subsectionTotal;
            }
            $(function() {
                //$('.datepicker').datepicker();

                $('select[name="formType"]').change(function(){
                    $('.check, .travel').addClass('hidden');
                    $('.' + $(this).val()).removeClass('hidden', 'slow');
                });

                //Logic for check reimbursement
                $('select[name="numberOfReceipts"]').change(function(){
                    console.log($(this).parents('.form-row'));
                    var $receiptList = $(this).parents('.form-row').find('ol.receiptList');
                    var desiredReceipts = $(this).val();
                    var currentReceipts = $receiptList.find('li').length;
                    //console.log('Preparing to change number of receipts from ' + currentReceipts + ' to ' + desiredReceipts);
                    
                    for(currentReceipts; currentReceipts > desiredReceipts; currentReceipts--){
                        $receiptList.find('li:last').remove();
                    }
                    for(currentReceipts; currentReceipts < desiredReceipts; currentReceipts++){
                        $receiptList.append($('<li />').text('Receipt ' + parseInt(currentReceipts + 1) + ' amount: ').append($('<input />').addClass('receiptAmount')));
                    }
                    $('.receiptAmount').blur(calculateReceipts);
                    calculateReceipts();
                });

                //Logic for travel reimbursement
                $('.travelDay fieldset input').blur(function(){
                    calculateDay($(this).parents('fieldset.travelDay'));
                });

                $('.travelDay>legend').click(function(){ console.log('Clicked top legend'); $(this).parents('fieldset').find('fieldset').toggle('slow'); });
                $('.travelDay fieldset legend').click(function(){ $(this).parents('fieldset.subsection').find('div.form-row').toggle('slow'); });
            });
        </script>
    </body>
</html>