{% extends "tuition/remission/form.html" %}
{% block content %}
<h3>Submitted</h3>
<div>
  <p>
    Thank you for your submission. Your submission has been logged.
    If you applied for the Carthage tuition remission program,
    you will receive further communication from the Business Office
    in about a week. If you applied for the ELCA exchange program,
    you should follow up with the liaison at that institution.
  </p>
  <p>
    Questions? Contact <a href="mailto:humanresources@carthage.edu">Human Resources</a>.
  </p>
</div>
{% endblock %}
