{% extends "base.html" %}
{% block title %}
    Search for Transactions &mdash; DJ Pagan &mdash;
    Carthage College
{% endblock %}
{% block extra_style %}
    {{block.super}}
    <!-- Page-Level Plugin CSS - Tables -->
    <link href="//www.carthage.edu/static/vendor/dashboard/css/plugins/dataTables/jquery.dataTables.min.css"
        rel="stylesheet">
    <link href="//www.carthage.edu/static/vendor/dashboard/js/plugins/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css"
        rel="stylesheet">
    <style type="text/css">
    table.dataTable > tbody > tr:hover > td.minor { background-color: #ccf; }
    table.dataTable > tbody > tr:nth-child(2n+1) > td.minor { background-color: #ccf; }
    table.dataTable > tbody tr.selected { background-color: #b0bed9 !important; }
    table.dataTable > tbody tr:nth-child(even):hover td{ background-color: #fae7b5 !important; }
    table.dataTable > tbody tr:nth-child(odd):hover td { background-color: #fae7b5 !important; }
    table.dataTable tbody th, table.dataTable tbody td { padding: 1px 4px; }
    table.dataTable thead th, table.dataTable thead td { border-bottom: 1px solid #111; padding: 2px 6px; }
    table.dataTable tfoot th, table.dataTable tfoot td { padding: 2px 6px; }
    </style>
{% endblock %}
{% block extra_javascript %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="//www.carthage.edu/static/vendor/dashboard/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="//www.carthage.edu/static/vendor/dashboard/js/plugins/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="//www.carthage.edu/static/vendor/dashboard/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
    $(function() {
        /*  Initialise the DataTables:
            we assign it to variable 'table' so that we can use it for
            the 'on change' event handler below. if we do not do it this
            way, then the 'on change' event does not work for items after
            page 1 or for items returned by search.
        */
        var table = $('#search-data').dataTable({
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "//www.carthage.edu/static/vendor/dashboard/js/plugins/dataTables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                    "print", "xls", {
                        "sExtends": "pdf",
                        "sPdfOrientation": "landscape"
                    },
                ],
            },
            "order": [[ 1, "asc" ]],
            "lengthMenu": [
                [100, 250, 500, 1000, 2000, -1],
                [100, 250, 500, 1000, 2000, "All"]
            ]
        });
    });
    </script>
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Search for Transactions
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container large-8 medium-10 small-12">
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form" id="profile">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {% include "form_field.inc.html" %}
        {% endfor %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form.visible_fields %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
<div class="table-responsive">
  <table class="dataTable display table-bordered table-hover" id="search-data">
    <thead>
      <tr>
        <th>AMT</th>
        <th>AMT_TYPE</th>
        <th>CTGRYGLE</th>
        <th>DOC_ID</th>
        <th>DOC_NO</th>
        <th>DOC_REF</th>
        <th>FSCL_MO</th>
        <th>FSCL_YR</th>
        <th>FUNC</th>
        <th>FUND</th>
        <th>GLEDESC</th>
        <th>GLE_NO</th>
        <th>JRNL_NO</th>
        <th>OBJ</th>
        <th>PROJ</th>
        <th>PST_DATE</th>
        <th>STAT</th>
        <th>STATION</th>
        <th>USER</th>
        <th>VCH_REF</th>
        <th>VCH_STATUS</th>
      </tr>
    </thead>
    <tbody>
    {% for o in objects %}
      <tr>
        <td>{{o.amt}}</td>
        <td>{{o.amt_type}}</td>
        <td>{{o.ctgrygle}}</td>
        <td>{{o.doc_id}}</td>
        <td>{{o.doc_no}}</td>
        <td>{{o.doc_ref}}</td>
        <td>{{o.fscl_mo}}</td>
        <td>{{o.fscl_yr}}</td>
        <td>{{o.func}}</td>
        <td>{{o.fund}}</td>
        <td>{{o.gledesc}}</td>
        <td>{{o.gle_no}}</td>
        <td>{{o.jrnl_no}}</td>
        <td>{{o.obj}}</td>
        <td>{{o.proj}}</td>
        <td>{{o.pst_date}}</td>
        <td>{{o.stat}}</td>
        <td>{{o.station}}</td>
        <td>{{o.user}}</td>
        <td>{{o.vch_ref}}</td>
        <td>{{o.vch_status}}</td>
      </tr>
    {% endfor %}
    </tbody>
      <tfoot>
        <th>AMT</th>
        <th>AMT_TYPE</th>
        <th>CTGRYGLE</th>
        <th>DOC_ID</th>
        <th>DOC_NO</th>
        <th>DOC_REF</th>
        <th>FSCL_MO</th>
        <th>FSCL_YR</th>
        <th>FUNC</th>
        <th>FUND</th>
        <th>GLEDESC</th>
        <th>GLE_NO</th>
        <th>JRNL_NO</th>
        <th>OBJ</th>
        <th>PROJ</th>
        <th>PST_DATE</th>
        <th>STAT</th>
        <th>STATION</th>
        <th>USER</th>
        <th>VCH_REF</th>
        <th>VCH_STATUS</th>
      </tfoot>
  </table>
</div>
{% endblock %}
