{% extends "billing/search_base.html" %}
{% block title %}
    Search by journal type and number &mdash;
    Billing &mdash;
    DJ Pagan &mdash;
    Student Accounts &mdash;
    Business Services &mdash;
    Carthage College
{% endblock %}
{% block breadcrumb %}
<div class="row">
    <div class="col-lg-12">
       <h1>
        Search by journal type and number
        <small class="fright" style="margin-right:20px;">
        <a href="{% url 'home' %}"><i class="fa fa-home fa-2x green"></i></a>
        </small>
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
{% include "billing/search_form.inc.html" %}
{% if objects %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Data
  </div>
  <div class="card-body" style="margin-bottom:20px">
    <div class="table-responsive">
    <table class="table table-bordered table-hover" width="100%" cellspacing="0" id="data-table">
    <thead>
      <tr>
        <th>AMT</th>
        <th>AMT_TYPE</th>
        <th>CTGRYGLE</th>
        <th>DOC_ID</th>
        <th>DOC_NO</th>
        <th>DOC_REF</th>
        <th>FSCL_MO</th>
        <th>FSCL_YR</th>
        <th>FUNC</th>
        <th>FUND</th>
        <th>GLEDESC</th>
        <th>GLE_NO</th>
        <th>JRNL_NO</th>
        <th>OBJ</th>
        <th>PROJ</th>
        <th>PST_DATE</th>
        <th>STAT</th>
        <th>STATION</th>
        <th>USER</th>
        <th>VCH_REF</th>
        <th>VCH_STATUS</th>
      </tr>
    </thead>
    <tbody>
    {% for o in objects %}
      <tr>
        <td>{{o.amt}}</td>
        <td>{{o.amt_type}}</td>
        <td>{{o.ctgrygle}}</td>
        <td>{{o.doc_id}}</td>
        <td>{{o.doc_no}}</td>
        <td>{{o.doc_ref}}</td>
        <td>{{o.fscl_mo}}</td>
        <td>{{o.fscl_yr}}</td>
        <td>{{o.func}}</td>
        <td>{{o.fund}}</td>
        <td>{{o.gledesc}}</td>
        <td>{{o.gle_no}}</td>
        <td>{{o.jrnl_no}}</td>
        <td>{{o.obj}}</td>
        <td>{{o.proj}}</td>
        <td>{{o.pst_date}}</td>
        <td>{{o.stat}}</td>
        <td>{{o.station}}</td>
        <td>{{o.user}}</td>
        <td>{{o.vch_ref}}</td>
        <td>{{o.vch_status}}</td>
      </tr>
    {% endfor %}
    </tbody>
      <tfoot>
        <th>AMT</th>
        <th>AMT_TYPE</th>
        <th>CTGRYGLE</th>
        <th>DOC_ID</th>
        <th>DOC_NO</th>
        <th>DOC_REF</th>
        <th>FSCL_MO</th>
        <th>FSCL_YR</th>
        <th>FUNC</th>
        <th>FUND</th>
        <th>GLEDESC</th>
        <th>GLE_NO</th>
        <th>JRNL_NO</th>
        <th>OBJ</th>
        <th>PROJ</th>
        <th>PST_DATE</th>
        <th>STAT</th>
        <th>STATION</th>
        <th>USER</th>
        <th>VCH_REF</th>
        <th>VCH_STATUS</th>
      </tfoot>
    </table>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
