{% extends "billing/search_base.html" %}
{% block title %}
    Search Bridged Classes &mdash;
    Billing &mdash;
    DJ Pagan &mdash;
    Student Accounts &mdash;
    Business Services &mdash;
    Carthage College
{% endblock %}
{% block breadcrumb %}
<div class="row">
    <div class="col-lg-12">
       <h1>
        Search Bridged Classes
        <small class="fright" style="margin-right:20px;">
        <a href="{% url 'home' %}"><i class="fa fa-home fa-2x green"></i></a>
        </small>
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
{% include "core/form.inc.html" %}
{% if objects %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Report
  </div>
  <div class="card-body" style="margin-bottom:20px">
    <div class="table-responsive">
    <table class="table table-bordered table-hover" width="100%" cellspacing="0" id="data-table">
    <thead>
      <tr>
        <th>cw_idno</th>
        <th>fullname</th>
        <th>crs_no</th>
        <th>sec</th>
        <th>yr</th>
        <th>sess</th>
        <th>subsess</th>
        <th>cat</th>
        <th>hrs</th>
        <th>id</th>
        <th>cwstat</th>
        <th>cwno</th>
        <th>cw_no</th>
        <th>beg_date</th>
        <th>tm</th>
        <th>sys_date</th>
        <th>tuit_code</th>
        <th>fee_code</th>
        <th>bill_code</th>
        <th>stat</th>
        <th>reason</th>
        <th>opr_id</th>
        <th>user_id</th>
        <th>grdg</th>
      </tr>
    </thead>
    <tbody>
    {% for o in objects %}
      <tr>
        <td>{{o.cw_idno}}</td>
        <td>{{o.fullname}}</td>
        <td>{{o.crs_no}}</td>
        <td>{{o.sec}}</td>
        <td>{{o.yr}}</td>
        <td>{{o.sess}}</td>
        <td>{{o.subsess}}</td>
        <td>{{o.cat}}</td>
        <td>{{o.hrs}}</td>
        <td>{{o.id}}</td>
        <td>{{o.cwstat}}</td>
        <td>{{o.cwno}}</td>
        <td>{{o.cw_no}}</td>
        <td>{{o.beg_date}}</td>
        <td>{{o.tm}}</td>
        <td>{{o.sys_date}}</td>
        <td>{{o.tuit_code}}</td>
        <td>{{o.fee_code}}</td>
        <td>{{o.bill_code}}</td>
        <td>{{o.stat}}</td>
        <td>{{o.reason}}</td>
        <td>{{o.opr_id}}</td>
        <td>{{o.user_id}}</td>
        <td>{{o.grdg}}</td>
      </tr>
    {% endfor %}
    </tbody>
      <tfoot>
        <th>cw_idno</th>
        <th>fullname</th>
        <th>crs_no</th>
        <th>sec</th>
        <th>yr</th>
        <th>sess</th>
        <th>subsess</th>
        <th>cat</th>
        <th>hrs</th>
        <th>id</th>
        <th>cwstat</th>
        <th>cwno</th>
        <th>cw_no</th>
        <th>beg_date</th>
        <th>tm</th>
        <th>sys_date</th>
        <th>tuit_code</th>
        <th>fee_code</th>
        <th>bill_code</th>
        <th>stat</th>
        <th>reason</th>
        <th>opr_id</th>
        <th>user_id</th>
        <th>grdg</th>
      </tfoot>
    </table>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
