{% extends "billing/search_base.html" %}
{% block title %}
    Search by cheque number &mdash;
    Billing &mdash;
    DJ Pagan &mdash;
    Student Accounts &mdash;
    Business Services &mdash;
    Carthage College
{% endblock %}
{% block breadcrumb %}
<div class="row">
    <div class="col-lg-12">
       <h1>
        Search by check number
        <small class="fright" style="margin-right:20px;">
        <a href="{% url 'home' %}"><i class="fa fa-home fa-2x green"></i></a>
        </small>
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
{% include "core/form.inc.html" %}
{% if objects %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Data
  </div>
  <div class="card-body" style="margin-bottom:20px">
    <div class="table-responsive">
    <table class="table table-bordered table-hover" width="100%" cellspacing="0" id="data-table">
    <thead>
      <tr>
        <th>Station</th>
        <th>User</th>
        <th>jrnl_ref</th>
        <th>jrnl_no</th>
        <th>gle_no</th>
        <th>GLE_desc</th>
        <th>doc_ref</th>
        <th>doc_no</th>
        <th>doc_id</th>
        <th>GLE_Ctgry</th>
        <th>pmt_frm</th>
        <th>PaymentNo</th>
        <th>jrnl_date</th>
        <th>add_date</th>
        <th>pst_date</th>
        <th>stat</th>
        <th>amt</th>
        <th>subs</th>
        <th>suba_no</th>
        <th>fullname</th>
        <th>SUBE_Stat</th>
        <th>ctgry</th>
        <th>SUBE_EntNo</th>
        <th>tot_code</th>
        <th>tot_prd</th>
        <th>bal_code</th>
        <th>bal_prd</th>
      </tr>
    </thead>
    <tbody>
    {% for o in objects %}
      <tr>
        <td>{{o.0}}</td>
        <td>{{o.1}}</td>
        <td>{{o.jrnl_ref}}</td>
        <td>{{o.jrnl_no}}</td>
        <td>{{o.gle_no}}</td>
        <td>{{o.5}}</td>
        <td>{{o.doc_ref}}</td>
        <td>{{o.doc_no}}</td>
        <td>{{o.doc_id}}</td>
        <td>{{o.9}}</td>
        <td>{{o.pmt_frm}}</td>
        <td>{{o.11}}</td>
        <td>{{o.jrnl_date|date:'Y-m-d'}}</td>
        <td>{{o.add_date|date:'Y-m-d'}}</td>
        <td>{{o.pst_date|date:'Y-m-d'}}</td>
        <td>{{o.stat}}</td>
        <td>{{o.amt}}</td>
        <td>{{o.subs}}</td>
        <td>{{o.suba_no}}</td>
        <td>{{o.fullname}}</td>
        <td>{{o.20}}</td>
        <td>{{o.ctgry}}</td>
        <td>{{o.22}}</td>
        <td>{{o.tot_code}}</td>
        <td>{{o.tot_prd}}</td>
        <td>{{o.bal_code}}</td>
        <td>{{o.bal_prd}}</td>
      </tr>
    {% endfor %}
    </tbody>
      <tfoot>
        <th>Station</th>
        <th>User</th>
        <th>jrnl_ref</th>
        <th>jrnl_no</th>
        <th>gle_no</th>
        <th>GLE_desc</th>
        <th>doc_ref</th>
        <th>doc_no</th>
        <th>doc_id</th>
        <th>GLE_Ctgry</th>
        <th>pmt_frm</th>
        <th>PaymentNo</th>
        <th>jrnl_date</th>
        <th>add_date</th>
        <th>pst_date</th>
        <th>stat</th>
        <th>amt</th>
        <th>subs</th>
        <th>suba_no</th>
        <th>fullname</th>
        <th>SUBE_Stat</th>
        <th>ctgry</th>
        <th>SUBE_EntNo</th>
        <th>tot_code</th>
        <th>tot_prd</th>
        <th>bal_code</th>
        <th>bal_prd</th>
      </tfoot>
    </table>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
