<ul>
  <li>
    <a href="/about/offices-services/" class="fancy-link">Offices &amp; Services<span class="fancy-link__icon" aria-hidden="true">›</span></a>
    <ul>
      <li>
        <a href="/about/offices-services/finance-administrative-services/" class="lw_group_link">Finance &amp; Administrative Services</a>
        <ul>
          <li>
            <a href="/about/offices-services/finance-administrative-services/accounts-payable/">Accounts Payable</a>
          </li>
          <li>
            <a href="/about/offices-services/finance-administrative-services/financial-accounting-information/">Financial &amp; Accounting Information</a>
          </li>
          <li>
            <a href="/about/offices-services/finance-administrative-services/policies-forms/" aria-current="page">Policies &amp; Forms</a></li><li><a href="/about/offices-services/finance-administrative-services/contact-us/">Contact Us</a>
          </li>
        </ul>
    {% if not user.is_anonymous %}
      <li><a href="{% url 'auth_logout' %}">Logout</a></li>
    {% else %}
      <li><a href="{% url 'auth_login' %}">Login</a></li>
    {% endif %}
    {% if user.is_superuser %}
    <li><a href="{% url 'admin:index' %}">Administration</a></li>
    {% endif %}

      </li>
    </ul>
  </li>
</ul>

