{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Meal Plan Status{% endblock %}
{% block extra_style %}
<style>
.form textarea { width:600px; height:125px; }
#id_location {padding-left:18px;}
</style>
{% endblock %}
{% block content %}
<div class="container mt-4" id="mealplan">
  <div class="row mt-4">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4 card">
    <div class="card-header">
      <h1>Meal Plan Status</h1>
    </div>
    <div class="card-body">
      {% if form.errors %}
        <div class="alert alert-danger mt-4">
          Please correct the errors below.
        </div>
      {% endif %}
      <form method="post" action="." class="form mb-3" id="mealplan-form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="indi-submit">
      </form>
    </div>
  </div>
  </div>
</div>
{% endblock %}
